h1{
    color:white;
    background:red;
    padding:20px;
    /* padding-bottom:1.5em;
    padding-top:1.5em;
    padding-right:40px;
    padding-left:40px; */
    /* margin-bottom: 0; */
    margin:30px;
    /* border: 10px magenta solid; */
    border-top-style:dashed;
    border-top-color:blue;
    border-top-width:5px;
    border-radius:20px;
}
p{
    padding:20px;
    /* margin:50px 20px; */
    background:blue; 
    /* padding:50px 40px 60px 10px; */
    /* top right bottom left */
    border-radius:40%;
}
.buttons{
    margin:3rem;
}
a{
    color:white;
    background:green;
    text-decoration:none;
    padding:1.2em 1.5em;
    text-transform:uppercase;
    cursor:pointer;
}
#one{
    border:0.2rem solid black;
}
#two{
    outline-width:0.2em;
    outline-style:solid;
    outline-color:black;
    outline-offset:10px;
}