body{
    display:flex;
}
div{
    width:150px;
    height:150px;
    margin:5px;
}

.one{
    background:linear-gradient(red,green);
}
.two{
    background:linear-gradient(to top,red,green);
}
.three{
    background:linear-gradient(150deg,red,green );
}
.four{
    background:linear-gradient(to top left,red,green )
}
.five{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9))
}
/* align items:makes vertically center
text-align :makes horizontally center*/
.header{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(image link),center/cover fixed no-repeat;
}