*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
div{
    background:blue;
    margin:10px;
    color:white;
}
.none{
    display:none;
}
.opacity{
    opacity:1;
    color:rgba;
}
.opacity-5{
    opacity:0.5;
}
.opacity-0{
    opacity:0;
}
.visibility{
    visibility:hidden;
}