body{
    background:yellow;
}
.banner{
    background:blue;
}
h1{
    color:white;
    text-align:center;
    text-decoration:underline;
    text-decoration-color:blue;
    text-transform:capitalize;
}

@media screen and (min-width:576px){
    body{
        background:red;
    }
    .banner{
        background:yellow;
    }
    h1{
        color:black;
        font-size:60px;
    }
}

@media screen and (min-width:776px){
    body{
        background:blue;
    }
    .banner{
        background:green;
    }
    h1{
        color:white;
        font-size:60px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
}