body{
    background:yellow;
}
.banner{
    background:blue;
}
h1{
    color:white;
    text-align:center;
    text-decoration:underline;
    text-decoration-color:blue;
    text-transform:capitalize;
}

@media screen and (min-width:576px){
    body{
        background:red;
    }
    .banner{
        background:yellow;
    }
    h1{
        color:black;
        font-size:60px;
    }
}

@media screen and (min-width:776px){
    body{
        background:blue;
    }
    .banner{
        background:green;
    }
    h1{
        color:white;
        font-size:60px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
}

/* pseudo elements */
/* adding text after and before content we use them as p::after or p::before  */
/* z-index very important controls are top bottom left and right 
you can even do this below
a:div::after{content}*/