
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');
body{
    font-family:'Courier New', Courier, monospace
}
h1{
    word-spacing:1.5em;
    font-family: 'Libre Barcode 39', cursive;;
}
.one{
    line-height:30px;
}
.two{
    letter-spacing:40px;
}
.three{
    word-spacing:1.5em;
}